<!-- This is my footer -->
<footer>
    <!-- containers for styling -->
    <div class="footer-container">
      <div class="footer-column">
        <h3>About Us</h3>
        <p>We are a social media platform for sharing photos and videos with friends and family.</p>
      </div>
      <div class="footer-column">
        <h3>Support</h3>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Follow Us</h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
    <p class="fake-links">&copy; 2023 Winstagram. All rights reserved. <a href="#">Def a Real Link</a> | <a href="#">This Ones Real</a> | <a href="#">Aesthetic Link</a></p>
  </footer>