<%- include('../partials/header.ejs', {name: "Edit Password " + user.title, userLoggedIn}) %>
    <h1>Edit user <%= user.username %>'s Password</h1>
    <form action="/users/<%= user._id %>/password?_method=PUT" method="POST">
        <label for="password">Old Password:</label>
        <input type="text" name="oldPassword" id="oldPassword"/>
        <br>
        <label for="password">New Password:</label>
        <input type="text" name="newPassword" id="newPassword"/>
        <br>
        <label for="password">Confirm Password:</label>
        <input type="text" name="password" id="password"/>
        <br>
        <input type="submit" value="Save Changes">
    </form>
    <%- include('../partials/footer.ejs') %>